.App {
  color: #282c34;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  min-height: 100vh;
  font-size: calc(6px + 1vmin);
  padding: 2.5vh 6vh;
  max-width: 842px;
}

.shadowgradient {
  -webkit-box-shadow: 0px 0px 8px 8px #d3d3d3d3, 0px 0px 16px 16px #ececec7a,
    0px 0px 16px 24px #81808031;
  box-shadow: 0px 0px 8px 8px #d3d3d3d3, 0px 0px 16px 16px #ececec7a,
    0px 0px 16px 24px #f5f5f531;
  background-color: #ffffff;
}

.bg-blue {
  background-color: #3770e2;
}

.bg-bluegray {
  background-color: #c3cee4;
}

.column1 {
  width: 58%;
}
.column2 {
  width: 38%;
}

div[class^='column'] {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

div[class^='column'] > section {
  border-top: solid 1px #282c34;
  padding-top: 2vh;
}

.banner {
  width: 75%;
  padding-top: 5px;
  padding-left: 10px;
  margin-bottom: 2vh;
  color: #ffffff;
}

.title {
  text-transform: uppercase;
  font-size: calc(8px + 1vmin);
  font-weight: bold;
}

.title > .fill {
  align-items: stretch;
  border-radius: 2px;
}

.profileframe {
  display: flex;
  max-width: 300px;
  margin: 0 auto;
}

.profilepic {
  border: none;
  object-fit: cover;
  object-position: 50% 25%;
  border: 2px solid #ffffff;
}

.badge {
  font-family: 'Courier New', Courier, monospace;
  vertical-align: middle;
  text-align: center;
  background-color: #282c34;
}

.badge:hover {
  background-color: #3770e2;
  color: #ffffff;
}

.list-group-item {
  background: none;
}

.triangle {
  position: absolute;
  z-index: 2;
  width: 0;
  height: 0;
  border-bottom: 4vh solid #ffffff;
  border-right: 4vh solid transparent;
  align-self: flex-end;
}

.vfxShow {
  height: calc((8px + 1vmin) * 4);
  transition: height 0.8s;
  overflow: hidden;
}

.vfxShowH {
  height: calc((8px + 1vmin) * 3);
  transition: height 0.6s;
  overflow: hidden;
}

@media screen and (max-height: 1080px) {
  .vfxShow {
    height: calc((8px + 1vmin) * 2.5);
    transition: height 0.8s;
    overflow: hidden;
  }

  .vfxShowH {
    height: calc((8px + 1vmin) * 2.5);
    transition: height 0.6s;
    overflow: hidden;
  }
}

.vfxHide {
  height: 0;
  overflow: hidden;
  transition: height 0.3s;
}
